# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Migrations (optional – see note below)
**/migrations/*
!**/migrations/__init__.py
kanmind_app/migrations/*.py
!kanmind_app/migrations/__init__.
# Environment variables
.env
.env.*
savetoserver.bat
crontabfile.sh

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
